.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  gap: 50px;
  padding: 40px;
}

.card {
  background-color: aliceblue;
  box-shadow: black;
  border-radius: 20px;
  margin-bottom: 25px;
  padding: 40px;
  width: 240px;
  display: flex;
}

@media screen and (max-width: 800px) {
  .card {
    width: 100%;
  }
}

.avatar {
  border-radius: 50%;
  width: 100px;
  margin-right: 20px;
}